video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}
.App {

    background-color: rgba(255, 255, 255, 0.5);

}
.container {
  display: flex;
  justify-content: center;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #383837;
  box-shadow: inset 0px 0px 3px 4px #ddd6e8; /* color, x, y, blur, and spread transition */
}