video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}
.App {

    background-color: rgba(255, 255, 255, 0.5);

}
.container {
  display: flex;
  justify-content: center;
}
